<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <input type="text" name="name" placeholder="enter your name" required><br>
        <input type="password" name="password" placeholder="password" required><br>
        <input type="submit"  value="submit"><br>
        <a href="{% url 'reg' %}"> Register</a>

    </form>
    
</body>
</html>